###################### Baseline GWN args, default arguments are optimal hyper-parameters ######################
device:
  type: str
  default: cpu
  help: device to place model on
data:
  type: str
  default: 'Data/Graph Neural Network Data/Graph Station Data/Graph.csv'
  help: data path
adjdata:
  type: str
  default: 'Data/Graph Neural Network Data/Adjacency Matrix/adj_mx.pkl' 
  help: adj data path
adjtype:
  type: str
  default: doubletransition
  help: adj type
gcn_bool:
  type: bool
  default: true
  help: whether to add graph convolution layer
aptonly:
  type: bool
  default: true
  help: whether only adaptive adj
addaptadj:
  type: bool
  default: true
  help: whether add adaptive adj
randomadj:
  type: bool
  default: true
  help: whether random initialize adaptive adj
seq_length:
  type: int
  default: 24
  help: length of output sequence
lag_length:
  type: int
  default: 12
  help: length of input sequence
nhid:
  type: int
  default: 32
  help: ''
in_dim:
  type: int
  default: 6
  help: number of features in input
num_layers:
  type: int
  default: 2
  help: number of layers
batch_size:
  type: int
  default: 64
  help: batch size
patience:
  type: int
  default: 9
  help: patience
learning_rate:
  type: float
  default: 0.001
  help: learning rate
dropout:
  type: float
  default: 0.3
  help: dropout rate
use_loss_metric:
  type: boolean
  default: false
  help: should it model used independent loss metric or shared
loss_metric:
  type: str
  default: 'MSE'  #Only accepts MSE, MAE, sparse_categorical_crossentropy, categorical_crossentropy.
  help: independent loss metric to optimize
weight_decay:
  type: float
  default: 0.0001
  help: weight decay rate
epochs:
  type: int
  default: 3
  help: ''
save:
  type: str
  default: 'Garage/Final Models/GWN/'
  help: save path
use_optimizer:
  type: boolean
  default: false
  help: should model used independent optimizer or shared
optimizer:
  type: string
  default: 'Adam'     #Only accepts Adam, SGD, RMSprop.
  help: type of optimizers used for model (to add another method look at User Guide), default type set to Adam

